/***** GENERALS  *****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1080px;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}




/* UTILITIES  */


.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.d-flex{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.flex-col{
    flex-direction: column;
}

.cont-center{
    justify-content: center;
    align-items: center;
}

.just-start{
    justify-content: start;
}

.just-center{
    justify-content: center;
}

.just-end{
    justify-content: end;
}

.just-around{
    justify-content: space-around;
}

.just-bet{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}




/***** COLUMNS  *****/

.col , .col-big{
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
}


[class^='col']{
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.col-12{
    flex-basis: calc(100%);
    max-width: (100%);
}

.col-11{ 
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}


.col-10{
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}


.col-9{
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}


.col-8{
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.col-7{
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-6{
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-2{
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-1{
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
}



/***** NESTED COL  *****/

#nested{
    height: 40px;
}





/***** OFFSET  *****/



.col.offset-1{
    margin-left: calc(100% / 12);
}


.col.offset-2{
    margin-left: calc(100% / 12 * 2);
}


.col.offset-3{
    margin-left: calc(100% / 12 * 3);
}


.col.offset-4{
    margin-left: calc(100% / 12 * 4);
}


.col.offset-5{
    margin-left: calc(100% / 12 * 5);
}


.col.offset-6{
    margin-left: calc(100% / 12 * 6);
}


.col.offset-7{
    margin-left: calc(100% / 12 * 7);
}


.col.offset-8{
    margin-left: calc(100% / 12 * 8);
}


.col.offset-9{
    margin-left: calc(100% / 12 * 9);
}


.col.offset-10{
    margin-left: calc(100% / 12 * 10);
}


.col.offset-11{
    margin-left: calc(100% / 12 * 11);
}




/***** MEDIA QUERY  *****/

@media screen and (max-width: 992px){
    .top .col-1{
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .top{
        display: flex;
        flex-direction: column;
    }

    .top .row{
        justify-content: center;
    }

    div{
        font-size: 11px;
    }



}


@media screen and (max-width: 768px){
    div{
        font-size: 12px;
        color: white;
    }
}



@media screen and (max-width: 576px){
    #nested{
        flex-basis: 30%;
    }
}



