/***** GENERALS  *****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1080px;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

